arviz @ git+https://git@github.com/arviz-devs/arviz.git@e8e9f79
formulae @ git+https://git@github.com/bambinos/formulae.git@f89a040
numpy>=1.16.1
pandas>=1.0.0
pymc3>=3.9.0
scipy>=1.7.0
statsmodels>=0.9

