black==22.1.0
click==8.0.4
git+https://github.com/dls-controls/sphinx-multiversion.git@only-arg
ipython>=5.8.0
nbsphinx>=0.4.2
pydata-sphinx-theme>=0.6.3
pylint==2.10.2
pytest-cov>=2.6.1
pytest>=4.4.0
seaborn>=0.9.0
sphinx>=1.8
