.navbar-logo {
    max-height: 72px;
}


/* --- */

/* css styles */
:root {
  --site-color-primary:  #F9F4D8;/*#ebfddd;*/
  --site-color-primary: #EE8320;
  --site-color-primary: #C29A68;
}

#quarto-header {
  border: 1px solid #dee2e6;
  background-color: #FFFFFF;
}

#quarto-header nav {
  max-width: 1300px;
  margin: auto;
}

#quarto-header .nav-link {
  padding-left: 5.4px !important;
  padding-right: 5.4px !important;
  margin-left: 30px !important;
  margin-right: 5.4px !important;
  font-size: 18px;
}

#quarto-header .nav-link .bi {
  font-size: 20px;
}

.sidebar a.nav-link {
  font-size: 14.4px;
  font-weight: 400;
}

.nav-item .nav-link.active {
  /*background-color: #EE8320;*/
  border-bottom: black 2px solid;
}

.navbar {
  /*background-color: var(--site-color-primary);*/
  background-color: #FFFFFF;
  /*var(--site-color-primary);*/
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  /*border-bottom: black 2px solid;*/
}

.navbar-title {
  color: black !important;
  font-weight: 800;
  font-size: 32px;
}

.navbar-nav .nav-link {
    color: black !important;
}

.navbar #quarto-search.type-overlay .aa-Autocomplete svg.aa-SubmitIcon {
  color: black;
}

div.sidebar-item-container .active {
  /*color: #0047ab;*/
  color: #6699ff;
  color: #5dba17;
  color: #4D9089 !important;
  font-weight: 600;
}

.sidebar nav[role=doc-toc] ul>li>a.active, .sidebar nav[role=doc-toc] ul>li>ul>li>a.active
{
  color: black !important;
  /*color: #4D9089 !important;*/
  border-left: 2px solid #4D9089 !important;
}

.sidebar nav[role=doc-toc]>ul a {
  border-left: 2px solid white;
}

.sidebar-item-container .text-start {
  font-weight: 600;
  font-size: 14.4px !important;
}

.sidebar-item-text {
  /*color: rgba(60, 60, 60, 0.7);*/
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
}

.sidebar-item-section {
  padding-top: 16px;
}

.sidebar-section {
  padding-left: 0px !important;
}

.dataframe {
  font-size: 14px;
}

.dataframe, .dataframe table {
  width: inherit;
}